{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Sahifalash">
    <ul class="pagination justify-content-center mt-3 mb-0">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">&laquo; Oldingi</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo; Oldingi</span>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}-sahifa</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">Keyingi &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Keyingi &raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
