{% extends 'base.html' %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Mijozlar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'logout' %}">Tizimdan chiqish</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <!-- /.content-header -->
        <div class="col-md-12">
            <form method="post" id="edit-client-form">
                {% csrf_token %}
                <label for="name">Mijoz ismi:</label>
                <input type="text" name="name" id="name" value="{{ client.name }}" class="form-control" required>
                <br>
                <label for="shop_name">Do'kon:</label>
                <input type="text" name="shop_name" placeholder="Mavjud emas!"  value="{{ client.shop_name }}" id="shop_name" class="form-control">
                <br>
                <label for="phone_number">Telefon raqam:</label>
                <input type="text" name="phone_number" value="{{ client.phone_number }}" class="form-control" id="phone_number">
                <br>
                <label for="address">Manzil:</label>
                <input type="text" name="address" placeholder="Mavjud emas!" {% if client.address %} value="{{ client.address }}" {% endif %} class="form-control" id="address">
                <br>
                <label for="debt">Qarz:</label>
                <input type="number" name="debt" value="{{ client.debt }}" class="form-control" id="debt" required>
                <br>
                <label for="created_at">Sana:</label>
                <input type="date" name="created_at" value="{{ client.created_at }}" class="form-control" id="created_at">
                <br>
                <!-- Modal footer -->
                <button type="submit" class="btn btn-success">Yangilash</button>
                <a href="{% url 'products' %}">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
