{% extends 'base.html' %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Mijozlar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'logout' %}">Tizimdan chiqish</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <!-- /.content-header -->
        <div class="col-md-12">
            <form method="post" id="edit-client-form">
                {% csrf_token %}
                <label for="name">Mijoz ismi:</label>
                <input type="text" name="name" id="name" value="{{ client.name }}" class="form-control" required>
                <br>
                <label for="shop_name">Do'kon:</label>
                <input type="text" name="shop_name" placeholder="Mavjud emas!" {% if product.brand %} value="{{ client.shop_name }}" {% endif %} id="shop_name" class="form-control">
                <br>
                <label for="price">Sotish narxi(so'm):</label>
                <input type="number" name="price" value="{{ product.price }}" class="form-control" id="price" required>
                <br>
                <label for="unit">O'lchov birligi:</label>
                <input type="text" name="unit" placeholder="Mavjud emas!" {% if product.unit %} value="{{ product.unit }}" {% endif %} class="form-control" id="unit" required>
                <br>
                <label for="amount">Mavjud {% if product.unit %} ({{ product.unit }}): {% endif %}</label>
                <input type="number" name="amount" value="{{ product.amount }}" class="form-control" id="amount" required>
                <br>
                <!-- Modal footer -->
                <button type="submit" class="btn btn-success">Yangilash</button>
                <a href="{% url 'products' %}">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
