{% extends 'base.html' %}

{% block content %}
{% block debts_active %} active {% endblock %}
{% block page_title %} To'langan qarzlar {% endblock %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Qarzlar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'logout' %}">Tizimdan Chiqish</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus"></i>Yangi qarz </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 15px">T/r</th>
                        <th scope="col" style="width: 255px; text-align: center;">Mijoz</th>
                        <th scope="col" style="text-align: center;">Miqdor</th>
                        <th scope="col" style="text-align: center;">Sana</th>
                        <th scope="col" style="text-align: center;">Tavsif</th>
                        <th scope="col" style="text-align: center;">Amallar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for debt in debts %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}.</th>
                        <td>{{ debt.client.name }} {% if debt.client.shop_name %}, {{ debt.client.shop_name }} {% endif %}</td>
                        <td>{{ debt.amount }}</td>
                        <td>{{ debt.created_at|date:"d.m.Y" }}</td>
                        <td>{{ debt.description }}</td>
                        <td>
                            <a href="{% url 'debt-update' debt.id %}">
                            <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                            </a>
                            <a href="{% url 'debt-delete' debt.id %}">
                            <button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button>
                            </a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-dark">
                    <h4 class="modal-title">To'langan qarz</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="new-debt-form" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="client">Mijoz:</label>
                        <select name="client_id" id="client" class="form-control">
                            {% for client in clients %}
                                <option value="{{ client.id }}">{{ client.name }} {% if client.shop_name %} -- {{ client.shop_name }} {% endif %}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label for="amount">Miqdor:</label>
                        <input type="number" name="amount" value="1" id="amount" class="form-control" required>
                        <br>
                        <label for="description">Tavsif:</label>
                        <input type="text" name="description" id="description" class="form-control">
                        <br>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Qo`shish</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- ./wrapper -->
{% endblock %}