{% extends 'base.html' %}

{% block content %}
{% block imports_active %} active {% endblock %}
{% block page_title %} Kirimlar {% endblock %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Kirimlar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'logout' %}">Tizimdan Chiqish</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus"></i>Yangi kirim </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 15px">T/r</th>
                        <th scope="col" style="width: 255px; text-align: center;">Mahsulot</th>
                        <th scope="col" style="text-align: center;">Miqdor</th>
                        <th scope="col" style="text-align: center;">Olish narxi</th>
                        <th scope="col" style="text-align: center;">Sotish narxi</th>
                        <th scope="col" style="text-align: center;">Tavsif</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for import in imports_list %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}.</th>
                        <td>{{ import.product.name }}</td>
                        <td>{{ import.amount }}</td>
                        <td>{{ import.buy_price }}</td>
                        <td>{{ import.sell_price }}</td>
                        <td> {% if import.description %} {{ import.description }} {% endif %}</td>
                        <td>
                            <a href="{% url 'import-update' import.id %}">
                            <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                            </a>
                            <a href="{% url 'import-delete' import.id %}">
                            <button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button>
                            </a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-dark">
                    <h4 class="modal-title">Yangi kirim</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="new-product-form" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="product">Mahsulot:</label>
                        <select name="product_id" id="product" class="form-control">
                            {% for product in products %}
                                <option value="{{ product.id }}">{{ product.name }} --  {{ product.price }} -- {{ product.amount }} {{ product.unit }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label for="amount">Miqdor:</label>
                        <input type="number" name="amount" value="1" id="amount" class="form-control" required>
                        <br>
                        <label for="buy_price">Olish narxi:</label>
                        <input type="number" name="buy_price"  id="buy_price" class="form-control" required>
                        <br>
                        <label for="sell_price">Sotish narxi:</label>
                        <input type="number" name="sell_price"  id="sell_price" class="form-control">
                        <br>
                        <label for="description">Tavsif:</label>
                        <input type="text" name="description" id="description" class="form-control">
                        <br>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Qo`shish</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- ./wrapper -->
{% endblock %}