{% extends 'base.html' %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Mahsulotlar</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Tizimdan chiqish</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        <!-- /.content-header -->
        <div class="col-md-12">
            <form method="post" id="edit-product-form">
                {% csrf_token %}
                <label for="name">Mahsulot nomi:</label>
                <input type="text" name="name" id="name" value="{{ product.name }}" class="form-control" required>
                <br>
                <label for="brand">Brend:</label>
                <input type="text" name="brand" placeholder="Mavjud emas!" {% if product.brand %} value="{{ product.brand }}" {% endif %} id="brand" class="form-control">
                <br>
                <label for="price">Sotish narxi(so'm):</label>
                <input type="number" name="price" value="{{ product.price }}" class="form-control" id="price" required>
                <br>
                <label for="unit">O'lchov birligi:</label>
                <select name="unit" id="unit" class="form-control" required>
                    <option value="" disabled {% if not product.unit %}selected{% endif %}>Tanlang...</option>
                    {% for value, label in unit_choices %}
                        <option value="{{ value }}" {% if product.unit == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="amount">Mavjud {% if product.unit %} ({{ product.get_unit_display }}): {% endif %}</label>
                <input type="number" name="amount" value="{{ product.amount }}" class="form-control" id="amount" required>
                <br>
                <!-- Modal footer -->
                <button type="submit" class="btn btn-success">Yangilash</button>
                <a href="{% url 'products' %}">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
